# exclude all files, but not the parent dir
*
!*/
!*.py
!*.md
# except these
!.gitignore
!SPRING2026_LAB*/**
# ignore these
SPRING2026_LAB*/02_SYN/*
!SPRING2026_LAB*/02_SYN/syn.log
SPRING2026_LAB*/03_GATE/
SPRING2026_LAB*/09_SUBMIT/
# for SPRING2026_LAB*/00_TESTBED and SPRING2026_LAB*/01_RTL, track only .v, .py, .cpp, .txt files
SPRING2026_LAB*/00_TESTBED/*
!SPRING2026_LAB*/00_TESTBED/**/*.v
!SPRING2026_LAB*/00_TESTBED/**/*.py
!SPRING2026_LAB*/00_TESTBED/**/*.cpp
!SPRING2026_LAB*/00_TESTBED/**/*.txt
SPRING2026_LAB*/01_RTL/*
!SPRING2026_LAB*/01_RTL/**/*.v
!SPRING2026_LAB*/01_RTL/**/*.py
!SPRING2026_LAB*/01_RTL/**/*.cpp
!SPRING2026_LAB*/01_RTL/**/*.txt
